*{     margin:0; 
    padding:0; 
}
body {
    width:768px;
    margin:0 auto;
}
.main-text {
    font-family: 'Sansation', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
}
.small-text {
    font-family: 'Sansation', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}
header {
    background-color: #fff;
    position:fixed;
    top:0;
    margin: 0px auto 29px;
    padding: 29px 340px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}
footer {
    background-color: #fff;
    text-align: justify;
    width: 768px;
    position:fixed;
    bottom:0;
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar .btn{
    width: 60px;
}
.footer-img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid black;
    margin-right: 15px;
}
.footer-img img {
    width: 60px;
    height: auto;
    margin-bottom: 9px;
}
.footer-m {
    margin: auto 254px;
}
.footer-h {
    margin-left: 40px;
}



#content {
    margin-left: 22px;
    margin-top: 130px;
    margin-bottom: 130px;
    display: flexbox;
    flex-direction: column;
}
.post-img img{
    width: 723px;
    height: auto;
}
.post-profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 9px;
}
.profile-text{
    margin-top: 12px;
    line-height: 22px;
}
.post-profile-img {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}
.post-profile img {
    width: auto;
    height: 60px;
    margin-bottom: 9px;
}
.post-action {
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-bottom: 22px;
    vertical-align: middle;
}
.post-action div {
    margin-right: 11px;
}

.like {
    margin-right: 22px;
    width: 38px;
    height: auto;
}
.comment {
    width: 40px;
    height: auto;
}
.post {
    margin-top: 0px;
}

.profile-img {
    width: 168px;
    height: 168px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid black;
}
.profile-img img {
    height: 168px;
    width: auto;
}
.p-posts {
    margin-top: 35px;
}
.profile-info {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 35px;
}
.profile-name {
    margin-top: 22px;
}
.profile-data {
    margin-left: 66px;
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

.profile-data li {
    text-align: center;
    list-style-type: none;
    margin-right: 100px;
}
.s-text {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 500;
}
.form-input {
    font-family: 'Sansation', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 12px;
}
.p2 {
    margin-bottom: 5px;
}
button {
    padding: 6px;
    background-color: #fff;
    border: 0px;
    margin-left: 45%;
    margin-top: 25px;
    transition: all 0.25s;
}
button:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    background-color: aqua;
}
.form-error li {
    list-style: none;
    color: red;
}
.inputs {
    display: grid;
    grid-template-columns: 50% 50%;

}
.title {
    margin-bottom: 20px;
    margin-left: 45%;
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
    font-style: normal;
}
.logout {
    margin-top: 120px;
}