{% extends 'base.html' %}
{% load static %}
{%block title %} Home Page {%endblock%}

{%block content%}

    {% if latest_posts_list %}
        {% for a in latest_posts_list%}
        <div class="post">
            <div class="post-profile">
                <div class="post-profile-img"><img src="{{ a.profile.user_img.url }}" alt="{{ image }}" alt=""></div>
                <a href="{{ a.profile.get_absolute_url }}"><div class="small-text profile-text">{{a.profile.user.username}}</div></a>
            </div>
            <a href="{{ a.get_absolute_url}}">
            <div class="post-img">
                <img src="{{a.post_img.url }}" alt="post img" >
            </div>
           </a>
            <div class="post-text">
                <p>{{a.post_info}}</p>
            </div>
            <div class="post-action">
                <a href="{{ a.post_comment_add }}">
                    <div class="comment">
                        <img src="{% static 'blog/img/Comments.svg' %}" alt="">
                        <p class="small-text">Add comment</p> 
                    </div>
                </a>
            </div>
        </div>
        {%endfor%}
    {%else%}

    {%endif%}

{%endblock%}